{% extends 'customer/base.html' %}

{% block content %}
{% include 'customer/all_other_navigation.html' %}
<section id="contact" class="contact" style="min-height :60vh">
      <div class="container">

        <div class="section-title">
          <h2><span>Contact</span> Us</h2><br>
          <h4>We would love to hear from you!</h4>
        </div>
      </div>

      <div class="container mt-5">

        <div class="info-wrap">
          <div class="row">
            <div class="col-lg-3 col-md-6 info">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Visvesvaraya Bhavan<br>Pantnagar, Uttarakhand 263145</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-clock"></i>
              <h4>Open Hours:</h4>
              <p>Monday-Sunday:<br>11:00 AM - 23:00 PM</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@delicious.com<br>contact@delicious.com</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+91 8954518849<br>+91 9149249423</p>
            </div>
          </div>
        </div>

        </div>
    </section><!-- End Contact Section -->
{% endblock content %}