
<nav class="navbar navbar-expand-lg navbar-dark indigo order-last order-lg-0">
  <a class="navbar-brand" href="{% url 'index' %}">Delicious</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav" >
      <li><a class="nav-link scrollto " href="{% url 'dashboard' %}">Dashboard</a></li>
    </ul>
  </div>
</nav>